.productCard {
  display: flex;
}

.product {
  background: linear-gradient(180deg, #1ea483 0%, #7465d4 100%);
  border-radius: 6px;
  cursor: pointer;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.imgCamiseta {
  object-fit: cover;
}

.footerCard {
  position: absolute;
  bottom: 0.25rem;
  left: 0.25rem;
  right: 0.25rem;
  border-radius: 6px;
  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #282735;
  color: #fff;

  transform: translate(110%);
  opacity: 0;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.product:hover .footerCard {
  transform: translateY(0%);
  opacity: 1;
}

.footerCard strong {
  font-size: 1.5rem;
}

.footerCard span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00b37e;
}
